@import 'img';

/*display flex*/
%justify-btw
{
    display: flex;
    justify-content: space-between;
}

%align-center
{
    display: flex;
    align-items: center;
}

%justify-center
{
    display: flex;
    justify-content: center;
}


#navbar
{
    @include image;
    height: 100vh;
    width: 100%;
}

nav
{
    @extend %justify-btw, %align-center;
    position: relative;
    height: 80px;
}
.logo
{
    padding-left: 40px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.fa-bars
{
    display: none;
}

.nav{
    ul
    {
        display: flex;
        padding-right: 40px;
    }
    li
    {
        list-style: none;
        margin: 0 10px;
    }
    a
    {
        text-decoration: none;
        color: white;
        font-size: 19px; 
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    a:hover 
    {
        color: coral;
        transition: .5s;
    }
}